.header-title{
    text-align: center;
    color: white;
    height:100px;
    position: relative;
    top: 40px;
    
}

.header-wrapper{
    background: pink;
    
}

.header-wrapper ul{
    float: left;

}

img{
    width: 100%;
}

a{
    display: inline-block;
    position: relative;
    bottom: 250px;
    font-size: 25pt;
    left: 800px;

}
